.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  height: 60px;
  align-items: center;
  box-shadow: -1px 4px 7px -1px rgba(151, 151, 151, 1);
  -webkit-box-shadow: -1px 4px 7px -1px rgba(151, 151, 151, 1);
  -moz-box-shadow: -1px 4px 7px -1px rgba(151, 151, 151, 1);
}

.home-icon {
  margin-right: 1rem;
}
