.search-bar {
  padding: 7px;
  width: 40%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #dfdfdf;
  text-indent: 3%;
  font-size: 1.2rem;
}

.search-icon-light {
  position: absolute;
  top: 18%;
  left: 0.6%;
}

.search-bar:focus {
  outline: none;
}

.search-bar::-webkit-input-placeholder {
  text-indent: 5%;
  font-weight: 550;
  font-size: 1.1rem;
}
