.search-bar {
  padding: 7px;
  max-width: 40%;
  width: 40%;
  height: 70%;
  border: none;
  border-radius: 10px;
  background-color: #dfdfdf;
  text-indent: 3%;
  font-size: 1.2rem;
  margin-left: 0.7%;
}

.search-icon-light {
  position: absolute;
  top: 30%;
  left: 1%;
}

.search-bar:focus {
  outline: none;
}

.search-bar::-webkit-input-placeholder {
  text-indent: 5%;
  font-weight: 550;
  font-size: 1.1rem;
}

@media only screen and (max-width: 512px) {
  .search-icon-light {
    display: none;
  }
  .search-bar {
    max-width: 90%;
    width: 90%;
  }
}
